.products {
    display: flex; 
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding: 20px 10px;
    margin: 0px 5px;
    background-color: #a0a0a0;

}

.product {
    position: relative;
    padding: 30px 10px;
    text-align: center;
    background-color: #ffffff;
    border:2px solid #f0f0f0;
    box-shadow:5px 10px #d0d0d0;
    border-radius: 10px;
}

.product img {
    object-fit: contain;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    border-radius: 10px;
    
}

.product:hover {
    border: 3px solid #15b8f8;
}

.heartIcon {
    position: absolute;
    bottom: 65px;
    right: 50px;
    font-size: 24px;
    color: tomato;
    cursor: pointer;
}

.price {
    position: absolute;
    bottom: 25px;
    right:25px;
    font-size: 1rem;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.name {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 1.1rem;
    color: black;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    text-align: center;
    color: black;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 0px;
}

.brand{
    position: absolute;
    bottom: 0px;
    left: 25px;
    font-size: 15px;
    color: rgb(61, 60, 60);
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Fixed media query syntax and made it more reliable */
@media (max-width: 640px) {
    .products {
        flex-direction: column;
    }
}