.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.formUnit{
    padding: 5px;
    box-sizing:border-box;
    float: left;
    width:fit-content;
    
}

.checkboxContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 5px;
}

button {
    border:2px solid black;
    box-shadow: 1.5px 1.5px #c1c1c1;
    border-radius: 5px;
    background-color: white;
    margin: 15px;
    padding:10px 10px;
    min-width:fit-content;
    min-height:fit-content;
    max-width: 20%;
    font-family: "Balsamiq Sans", sans-serif;
    font-size: medium;
    font-weight: 400;
   }
   
button:hover{
    
    background-color: #15b8f8;
    
}

.smallButton{  
    border:1px solid black;
    box-shadow: 1.5px 1.5px #c1c1c1;
    border-radius: 5px;
    background-color: white;
    margin: 0 0 0 10px;
    padding:5px 5px;
    min-width:fit-content;
    min-height:fit-content;
    max-width: 30%;
    font-family: "Balsamiq Sans", sans-serif;
    font-size: small;
    font-weight: 400;
   }

.smallButton:hover{
    
    background-color: #15b8f8;
}


.errorMessage {
    color: red;
    font-size:small;
    font-style: italic;

}

.successMessage {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:medium;
    font-style: italic;
    border: 2px solid rgb(63, 180, 63);
    padding: 10px;

}

input:invalid { 
    border:solid red;
    background: #ffdddd;
    }


@media (width < 640px) {
    .formUnit, button{
        width:fit-content;
        margin-top: 0;
    }
  }

   