.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    gap: 20px;
    margin: 0 5px;
    flex-wrap: wrap;
    background-color: #a0a0a0;
}

.heroCard {
    object-fit: contain;
    width: 90%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    
}
.heroCrad  ,img {
    width: 100%;
    border-radius: 10px;
    
}



.heroText h3{
    font-size: 25px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.heroText p{
    font-size: 20px;
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (width >= 1024px) {
    .hero {
        display: flex;
        flex-wrap: nowrap; 
    
    }

    .heroText {
        order: -1;
     }


}