.parent {
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;

}


h3{
  margin-top: 15px;
  margin-left: 0px;
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-size:x-large;
  height: 95%;
}

.button {
 border:2px solid black;
 box-shadow: 1.5px 1.5px #c1c1c1;
 border-radius: 5px;
 background-color: white;
 margin-right: 0px;
 padding:10px 10px;
 max-width: 20%;
 min-width:fit-content;
 min-height:fit-content;
 font-family: "Balsamiq Sans", sans-serif;
 font-size: medium;
 font-weight: bold;
}

.button:hover{
  
  background-color: #20befd98;
  
}

.deleteButton {
  background-color: #e53935; /* red */
  color: white;
  border: 2px solid rgb(205, 230, 227);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  padding: 0; /* remove default button padding */
}

.deleteButton:hover {
  background-color: #c62828; /* darker red */
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.deleteButton:active {
  transform: scale(0.95);
}


a {
   
   
    text-decoration: none;
    color: black;
}

table {
    font-family: "Balsamiq Sans", sans-serif;
    border-collapse: collapse;
    width: 90%;
    border:2px solid black;
    padding:0 20px;
    padding-left: 5px;
    grid-column: span 2;
    
  }
  
  th{
    font-family: "Balsamiq Sans", sans-serif;
    border-collapse: collapse;
    text-align: left;
    background-color: #cccccc;
    width: fit-content;
    border:2px solid black;
    padding:5px 10px 10px 10px;
    padding-left: 5px;
    grid-column: span 2;
  }

  td {
    border-right: 2px solid black;
    text-align: left;
    padding:10px 20px;
    padding-left: 5px;
    width: fit-content;

  }
  
  tr:nth-child(even) {
    background-color: #eeeeee;
  }  

  tr:hover {
    background-color: #20befd71;
  }  

